# Configuración puertos
MS_SERVER_PORT=8080

# Eureka server discovery
EUREKA_SERVER_PORT=8761
EUREKA_SERVER_URL=http://localhost:${EUREKA_SERVER_PORT}/eureka/

# Config server
ONFIG_SERVER_GITHUB_USER=githubuser
CONFIG_SERVER_GITHUB_TOKEN=github_pat_abc
CONFIG_SERVER_HOST=http://localhost
CONFIG_SERVER_URI=https://github.com/user/repo.git
CONFIG_SERVER_PORT=8888

# Configuración de MongoDB
MONGO_HOST=product-db
MONGO_PORT=27017
MONGO_DATABASE=product-db
MONGO_USERNAME=root
MONGO_PASSWORD=password
MONGO_AUTH_DB=admin

# Configuracion de mysql
MYSQL_HOST=inventory-db
MYSQL_PORT=3306
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=inventory-db

# Configuracion de postgres
POSTGRES_HOST=product-db
POSTGRES_PORT=5432
POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_DB=order-db